@charset "utf-8";
/* CSS Document */



@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: url(../font/NotoSansKR-Light-subset.eot);
    src: url(../font/NotoSansKR-Light-subset.woff) format('woff'),
    url(../font/NotoSansKR-Light-subset.otf) format('openype'),
    url(../font/NotoSansKR-Light-subset.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: url(../font/NotoSansKR-DemiLight-subset.eot);
    src: url(../font/NotoSansKR-DemiLight-subset.woff) format('woff'),
    url(../font/NotoSansKR-DemiLight-subset.otf) format('openype'),
    url(../font/NotoSansKR-DemiLight-subset.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NotoSansKR-Medium-subset.eot);
    src: url(../font/NotoSansKR-Medium-subset.woff) format('woff'),
    url(../font/NotoSansKR-Medium-subset.otf) format('openype'),
    url(../font/NotoSansKR-Medium-subset.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: url(../font/NotoSansKR-Bold-subset.eot);
    src: url(../font/NotoSansKR-Bold-subset.woff) format('woff'),
    url(../font/NotoSansKR-Bold-subset.otf) format('openype'),
    url(../font/NotoSansKR-Bold-subset.ttf) format('truetype');
}

@font-face {
 font-family: 'Montserrat';
 font-style: normal;
 font-weight: 400;
 src: url('../font/Montserrat.eot'),  url('../font/Montserrat.eot?#iefix') format('embedded-opentype'),  url('../font/Montserrat.woff') format('woff');
}
 @font-face {
 font-family: 'nbg';
 font-style: normal;
 font-weight: normal;
 src: url('../font/nanumbarungothicregular.eot'),  url('../font/nanumbarungothicregular.eot?#iefix') format('embedded-opentype'),  url('../font/nanumbarungothicregular.woff') format('woff'),  url('../font/nanumbarungothicregular.ttf') format('truetype');
}
 @font-face {
font-family: 'nsr';
src: url('../font/nanumsquarer.eot');
src: url('../font/nanumsquarer.eot?#iefix') format('embedded-opentype'), url('../font/nanumsquarer.woff') format('woff'), url('../font/nanumsquarer.ttf') format('truetype'), url('../font/nanumsquarer.svg#nanumsquarer') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'nsb';
src: url('../font/nanumsquareb.eot');
src: url('../font/nanumsquareb.eot?#iefix') format('embedded-opentype'), url('../font/nanumsquareb.woff') format('woff'), url('../font/nanumsquareb.ttf') format('truetype'), url('../font/nanumsquareb.svg#nanumsquareb') format('svg');
font-weight: normal;
font-style: normal;
}

