@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}

html { font-size: 62.5%; }
body { font-size:15px;  -webkit-text-size-adjust:none; font-family: AppleSDGothicNeo-Regular,Helvetica,sans-serif; background:#f2f2f2; }
body,input,textarea,select,button,table,h1,h2,h3,h4,h5,h6 { font-weight:normal; }
img,fieldset{border:0}
ul,ol,li{list-style:none;}
a {color:inherit;text-decoration:none;color:#333;}
em,i,address {font-style:normal; font-weight:normal;}
legend,caption {clear:both;display:none;} 
input,textarea,select,button,table{ font-size:inherit;font-family:inherit;line-height:inherit; }
table{border-collapse:collapse}
textarea { resize:none; }
button,label { cursor:pointer; }
a:visited, a:hover, a:active { color:#333; }
.safari strong { font-weight:500; }
input, textarea, button, select { outline:none; }
input,textarea,button { -webkit-border-radius:0; border-radius:0; } /*-webkit-appearance:none;*/

#wrap{width:100%;}


/* header */
#header { position:relative; height:52px; background-color:#fff; border-bottom:1px #d9d9d9 solid; margin-bottom:10px; }
#header h1 { width:auto; margin:0 70px; height:52px; text-align:center; }
#header h1 a { display:block; margin-left:-10px; }

#header .hdaside { }
#header .hdaside .mo_menu { position:absolute; top:0; left:0; }
#header .hdaside .mo_menu a { display:block; padding:20px 15px 17px 15px; width:23px; height:15px; font-size:0; line-height:0; text-indent:-9999px; overflow:hidden; background:url('../images/mobile_img.png') 15px 20px no-repeat; }
#header .hdaside .login{ position:absolute; top:0; right:0; display: block;    overflow: hidden;    height: 20px;  padding: 18px 14px 16px 0; }
#header .hdaside .login a{font-size: 14px;line-height: 1.4;color: #333; text-decoration:none;}

#header .search { position:relative; height:18px; line-height:18px; margin:8px 15px; padding:10px 8px 11px 8px; font-size:16px; border:1px solid #1685cd; background:#fff; border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; }
#header .search .field-wrap { overflow:hidden; }
#header .search #search_keyword { border:0; width:83%; background:#fff; }
#header .search #btn_search_keyword { position:absolute; top:0; right:0; width:45px; height:39px; border:0; white-space:nowrap; text-indent:-1000em; overflow:visible; background:url('../images/mobile_img.png') 12px -30px no-repeat; }

#menu_open{width:100%; height:100%; position: fixed; left:0; top:0; z-index:7000; background-color: rgba(0,0,0,.7);}
#gnb{width:60%; height:100%; position:fixed; top:0; left:0; z-index: 8000; background:#fff; overflow-y:scroll; }
#gnb .user_info{float:left; width:100%; height:75px; position: relative;}
#gnb .user_info a.user{ margin-right:55px; display:block; padding-left:65px;}


#gnb .user_info a.user .thumb_user{width:50px; height:50px; position:absolute; top:14px; left:8px; background:url(../images/icon_user.png) 0 0 no-repeat; background-size:48px 48px;}
#gnb .user_info a.user .user_name{display:block; font-size:14px; line-height:75px; font-weight: 400; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}


#gnb .user_info a.scrap{ position:absolute; top:12px; right:0px; width:40px; height:50px;background:url(../images/mobile_img.png) 7px -128px no-repeat; text-indent:-9999px;}
#gnb .user_info a.alert { position:absolute; top:12px; right:10px; width:40px; height:50px; background:url(../images/mobile_img.png) 8px -176px no-repeat; text-indent:-9999px;}
#gnb dl { width:100%; float:left;}
#gnb dl dt, #gnb dl dd {width:100%; float:left; height: 40px; font-size: 14px; font-weight: 400; line-height:40px; }
#gnb dl dt{border-top: 1px solid #ebebeb; background-color: #f8f8f8; }
#gnb dl dd{border-top: 1px solid #f5f5f5; background-color: #fff; }
#gnb dl dt a, #gnb dl dd a{padding: 0 40px 0 15px; color: #555; white-space: nowrap; text-overflow: ellipsis; display:block;}
#menu_open .close{position: fixed; width:22px; height:22px; padding:10px; margin:10px; left:60%; top:0; z-index:100; background:url(../images/mobile_img.png) 12px -228px no-repeat; text-indent:-9999px;}

